*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color: aqua;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
h2{
    color: yellow;
    margin: 20px;
    padding: 20px;
}
p{
    color: white;
    margin: 20px;
    padding: 20px;
}